body {

	background: yellow;
	background: rgb( 0, 0, 0);
	background: rgb( 255, 255, 255);
	background: rgb( 125, 20, 255);
	background: rgba( 125, 20, 255, 0.5);
	background: #000000;
	background: #ffffff;
	background: #ff00ff;
	background: #ffffff;

}
